@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');
@import "../../sass/_variables.scss";

* {
    font-family: 'Roboto', sans-serif;
}

.counter-block {
  background-color: $color-counter;
  text-align: center;
  border-radius: 1rem;
  padding: 1rem;
    
  &__header {
    padding-bottom: 1rem;
  }

  &__btn {
    font: inherit;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    border-radius: 10px;
    background-color: $color-button;
    color: $color-card;
    border: 1px solid $color-outline;

    &:hover {
      background-color: $color-hover;

      &:active {
        background-color: lighten($color-hover, 20%);
      }
    }
  }

  &__count-tracker {
    margin: 1rem;
  }
}

.employee-card {
  background-color: $color-card;
  border-radius: 1rem;
  box-shadow: 0 1px 4px $color-outline;
  padding: .6rem;
  width: 20rem;

  &__name {
    border-bottom: 1px dashed $color-outline;
    font-size: 22px;
  }

  &__role {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 22px;
  }
}

@media screen and (min-width: 760px) and (max-width: 900px) and (orientation: landscape) {

  .counter-block {
    height: 100px;
    padding: 0;
  }
  .employee-card {
    height: 250px;


    &__role {
      padding-top: 10px;
    }

    &__btn {
      margin-bottom: 10px;
    }
  }
}
