@import url("https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap");
* {
  font-family: "Roboto", sans-serif;
}

.counter-block {
  background-color: #C5C6C7;
  text-align: center;
  border-radius: 1rem;
  padding: 1rem;
}
.counter-block__header {
  padding-bottom: 1rem;
}
.counter-block__btn {
  font: inherit;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  border-radius: 10px;
  background-color: #800040;
  color: white;
  border: 1px solid black;
}
.counter-block__btn:hover {
  background-color: #9c1458;
}
.counter-block__btn:hover:active {
  background-color: #e5318b;
}
.counter-block__count-tracker {
  margin: 1rem;
}

.employee-card {
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 1px 4px black;
  padding: 0.6rem;
  width: 20rem;
}
.employee-card__name {
  border-bottom: 1px dashed black;
  font-size: 22px;
}
.employee-card__role {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 22px;
}

@media screen and (min-width: 760px) and (max-width: 900px) and (orientation: landscape) {
  .counter-block {
    height: 100px;
    padding: 0;
  }

  .employee-card {
    height: 250px;
  }
  .employee-card__role {
    padding-top: 10px;
  }
  .employee-card__btn {
    margin-bottom: 10px;
  }
}