@import url("https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.ticket-tracker {
  background-image: linear-gradient(#cfe5e8, #9f8995);
  height: 100%;
}
.ticket-tracker__heading {
  color: #9e2461;
  background-color: #9f8995;
  text-shadow: black 2px 2px 2px;
  text-align: center;
  font-size: 4rem;
}
.ticket-tracker__cards {
  display: grid;
  gap: 1rem;
  text-align: center;
  justify-content: center;
  padding: 1rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.ticket-tracker__filter-name {
  padding: 8px;
}
.ticket-tracker__filter-role {
  display: inline-block;
  width: 300px;
}
.ticket-tracker__select-options {
  background-color: #9f8995;
  padding-bottom: 10px;
}

label {
  font-size: 20px;
  font-weight: 700;
  margin: 10px;
}

@media screen and (max-width: 480px) {
  .ticket-tracker__cards {
    display: grid;
    gap: 1rem;
    text-align: center;
    justify-content: center;
    padding: 1rem;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .ticket-tracker__heading {
    font-size: 3rem;
  }
  .ticket-tracker__select-options {
    background-color: #9f8995;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
  }

  label {
    display: inline;
    font-size: 1rem;
  }
}
@media screen and (max-width: 900px) and (orientation: landscape) {
  .ticket-tracker__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin-left: 2rem;
  }
  .ticket-tracker__heading {
    text-align: left;
    font-size: 2rem;
  }
}